---
import '@/global/global.scss';
import { LOCALE } from '@/global/constants';
import Head, { type HeadProps } from './Head.astro';
import Footer from './Footer.astro';
import Header from './Header.astro';
import SmoothScroll from './smooth-scroll.astro';
import SplashScreen from '../components/ui/SplashScreen.astro';
import OrganizationSchema from '../global/Schema/OrganizationSchema.astro';
import ReviewsSchema from '../global/Schema/ReviewsSchema.astro';
import BlogPostSchema, { type BlogSchema } from '../global/Schema/BlogPostSchema.astro';
import type { PlainReview } from '../utils/reviews.fetch';
import type { BlogPageSchemaProps } from '../global/Schema/BlogPageSchema.astro';
import BlogPageSchema from '../global/Schema/BlogPageSchema.astro';
import FaqSchema from '../global/Schema/FaqSchema.astro';

type Props = HeadProps & {
  footerBackground?: string;
  reviews?: PlainReview[];
  blogSchema?: BlogSchema;
  blogPageSchema?: BlogPageSchemaProps;
};

const { footerBackground, reviews, blogSchema, blogPageSchema, ...props } = Astro.props;
---

<!doctype html>
<html lang={LOCALE}>
  <head>
    <Head {...props} />
    <OrganizationSchema />
    <FaqSchema />
    <slot name="head" />
    {reviews && reviews.length > 0 && <ReviewsSchema reviews={reviews} />}
    {blogSchema && <BlogPostSchema {...blogSchema} />}
    {blogPageSchema && <BlogPageSchema {...blogPageSchema} />}
    <script is:inline src="https://cdn.usefathom.com/script.js" data-site="XFDBCWQI" defer></script>
    <script is:inline>
      const currentUrl = window.location.href;
      const lastPage = sessionStorage.getItem('lastPage');

      if (lastPage && currentUrl !== lastPage) document.documentElement.classList.add('fresh-visit');

      sessionStorage.setItem('lastPage', currentUrl);
    </script>
  </head>
  <body>
    <SplashScreen />
    <Header />
    <main id="main">
      <slot />
    </main>
    <Footer background={footerBackground} />
    <SmoothScroll />
  </body>
</html>
