@font-face {
  font-family: 'Cabinet Grotesk';
  src:
    url('/fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
    url('/fonts/CabinetGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('/fonts/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --neutral-100: #f2faf6;
  --neutral-200: #e9f2ed;
  --neutral-300: #d0e1d7;
  --neutral-400: #c1d1c8;
  --neutral-600: #87988b;
  --neutral-700: #5f6d62;
  --neutral-800: #48514a;
  --neutral-900: #141915;

  --secondary-300: #e3dfd3;
  --secondary-400: #d2cdbf;
  --secondary-500: #b6b2a5;
  --secondary-600: #9e9781;
  --secondary-700: #5f583f;
  --secondary-800: #474335;
  --secondary-900: #403d33;

  --tertiary-200: #ccdde9;
  --tertiary-400: #acc1cf;
  --tertiary-600: #4a5f6e;

  --gap: clamp(6rem, calc(8.25vw / 0.48), 9.5rem);

  --pageMargin: clamp(1rem, calc(2.5vw / 0.48), 2.5rem);
  @media (max-width: calc(56.26rem - 1px)) and (min-width: 37.5rem) {
    --pageMargin: clamp(2.5rem, calc(5vw / 0.48), 5rem);
  }

  --typography-body-2xl: clamp(1.125rem, calc(1.125vw / 0.48), 1.5rem);
  --typography-body-xl: clamp(1.125rem, calc(1.125vw / 0.48), 1.25rem);
  --typography-body-l: clamp(1rem, calc(1vw / 0.48), 1.125rem);
  --typography-body-m: 0.875rem;
  --typography-body-s: 0.75rem;
  --typography-body-xs: 0.625rem;

  --typography-heading-3xl: clamp(2.5rem, calc(3vw / 0.48), 3.625rem);
  --typography-heading-2xl: clamp(2.25rem, calc(2.75vw / 0.48), 3.25rem);
  --typography-heading-l: clamp(1.75rem, calc(2.5vw / 0.48), 2.625rem);
  --typography-heading-m: clamp(1.375rem, calc(1.5vw / 0.48), 1.75rem);
  --typography-heading-s: clamp(1.25rem, calc(1.375vw / 0.48), 1.375rem);
}

svg {
  max-width: 100%;
  display: block;
  height: auto;
}
canvas {
  touch-action: pan-y;
}
a {
  text-decoration: none;
  color: inherit;
}
label {
  display: block;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
::placeholder {
  color: inherit;
}
sup {
  font-size: 0.62em;
  vertical-align: top;
}
textarea {
  display: block;
}
input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
  border-radius: 0;
}
ul,
ol {
  list-style-type: none;
}
summary {
  cursor: pointer;
  list-style: none;
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}
iframe {
  border: none;
  display: block;
}
video {
  display: block;
  max-width: 100%;
  height: auto;
}
picture,
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

:focus {
  outline: none;
}
:focus-visible {
  outline: 2px solid var(--primary-800, #01403b);
  outline-offset: 3px;
}

html,
body {
  overflow-x: clip;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 123px;
}
body {
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--neutral-200, #e9f2ed);
  color: var(--neutral-800, #48514a);
  font-family: 'Inter', sans-serif;
  font-size: var(--typography-body-l, 1.125rem);
  line-height: 1.55;
}

main,
.max-width {
  max-width: 1200px;
  width: calc(100% - var(--pageMargin) * 2);
  margin: 0 auto;
  height: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  overflow-wrap: anywhere;
  font-weight: 500;
  line-height: 128%;
  font-family: 'Cabinet Grotesk', sans-serif;
}

.link {
  line-height: normal;
  text-decoration: underline;
  transition: color 0.5s;
  text-underline-offset: 5px;
  &:hover {
    color: var(--primary-700);
    &::after {
      transform: translate(1px, -1px);
    }
  }
  &[target='_blank'] {
    &::after {
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNyIgZmlsbD0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjMUNCNkFBIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im00LjMzMyAxMS43ODggNy4zMzQtNy4zMzNtMCAwaC02bTYgMHY2Ii8+PC9zdmc+');
      display: inline-block;
      margin-left: 4px;
      vertical-align: middle;
      transition: transform 0.3s var(--easing);
    }
  }
}

.sec-wo-margin {
  margin: 0 calc(var(--pageMargin) * -1);
  @media (min-width: 1280px) {
    margin: 0 calc((100vw - 1200px) / -2);
  }
}

.ordered-list,
.unordered-list {
  display: grid;
  gap: 8px;
}
.unordered-list {
  li {
    padding-left: 18px;
    position: relative;
    &::before {
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMyIgZmlsbD0iIzBGOTI4OCI+PHBhdGggZD0iTTUgLjgwMmMtLjM2NSAwLS42NDcuMTUyLS45MDQuMzg1LS4yMzUuMjE0LS40NzcuNTIzLS43NjIuODg2bC0uMDIuMDI1Yy0uNTgzLjc0My0xLjI0OCAxLjY2My0xLjc2OSAyLjU4NC0uNTEyLjkwNy0uOTIgMS44NzMtLjkyIDIuNjkzIDAgMi41NTggMS45MzMgNC42OCA0LjM3NSA0LjY4czQuMzc1LTIuMTIyIDQuMzc1LTQuNjhjMC0uODItLjQwOC0xLjc4Ni0uOTItMi42OTMtLjUyMS0uOTIxLTEuMTg2LTEuODQtMS43Ny0yLjU4NGwtLjAxOS0uMDI1Yy0uMjg1LS4zNjMtLjUyNy0uNjcyLS43NjItLjg4NkM1LjY0Ny45NTQgNS4zNjQuODAyIDUgLjgwMloiLz48L3N2Zz4=');
      width: 10px;
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
}
.ordered-list {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.cta-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: clamp(12px, calc(16vw / 7.68), 16px);
}

div.paragraph {
  & > *:not(:last-child) {
    margin-bottom: 8px;
  }
}
