.Error {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--typography-body-s, 0.75rem);
  color: var(--error-500, #c23d3d);
  animation: fadeIn 600ms var(--easing);
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
