---
import { slugify } from '@/src/utils/slugify';
import { toPlainText } from 'astro-portabletext/utils';

// eslint-disable-next-line no-unused-vars
const { node, index, isInline, headingIndex, ...attrs } = Astro.props;

const styleIs = (style: string) => style === node.style;

const props = {
  ...attrs,
  id: slugify(toPlainText(node)),
  index,
  headingIndex,
};
---

{
  styleIs('h2') && index === 0 ? (
    <h2 {...props}>
      <slot />
    </h2>
  ) : (
    <h3 {...props}>
      <slot />
    </h3>
  )
}
